@use 'base';
@use 'sass:color';

.recipe {
  background-color: base.$color-grey-light-1;

  ///////////
  // FIGURE
  &__fig {
    height: 32rem;
    position: relative;
    transform-origin: top;

    &::before {
      background-image: linear-gradient(
        to right bottom,
        base.$color-grad-1,
        base.$color-grad-2
      );
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.6;
      position: absolute;
      top: 0;
      width: 100%;
    }
  }

  &__img {
    display: block;
    height: 100%;
    object-fit: cover;
    width: 100%;
  }

  &__title {
    bottom: 0;
    color: #fff;
    font-size: 3.25rem;
    font-weight: 700;
    left: 50%;
    line-height: 1.95;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    transform: translate(-50%, 20%) skewY(-6deg);
    width: 50%;

    span {
      background-image: linear-gradient(
        to right bottom,
        base.$color-grad-1,
        base.$color-grad-2
      );
      -webkit-box-decoration-break: clone;
      box-decoration-break: clone;
      padding: 1.3rem 2rem;
    }

    @media only screen and (max-width: base.$bp-medium) {
      width: 70%;
    }
  }

  ///////////
  // DETAILS
  &__details {
    align-items: center;
    display: flex;
    padding: 7.5rem 8rem 3.5rem 8rem;
  }

  &__info {
    align-items: center;
    display: flex;
    font-size: 1.65rem;
    text-transform: uppercase;

    &:not(:last-child) {
      margin-right: 4.5rem;
    }
  }

  &__info-icon {
    color: base.$color-primary;
    height: 2.35rem;
    margin-right: 1.15rem;
    width: 2.35rem;
  }

  &__info-data {
    font-weight: 700;
    margin-right: 0.5rem;
  }

  &__info-buttons {
    display: flex;
    margin-left: 1.6rem;
    transform: translateY(-1px);
  }

  &__user-generated {
    align-items: center;
    background-color: color.adjust(base.$color-grey-light-2, $lightness: -2%);
    border-radius: 10rem;
    display: flex;
    height: 4rem;
    justify-content: center;
    margin-left: auto;
    margin-right: 1.75rem;
    width: 4rem;

    i {
      color: base.$color-primary;
      font-size: 2.25rem;
    }
  }

  ///////////
  // INGREDIENTS
  &__ingredients {
    align-items: center;
    background-color: base.$color-grey-light-2;
    display: flex;
    flex-direction: column;
    font-size: 1.6rem;
    line-height: 1.4;
    padding: 5rem 8rem;
  }

  &__ingredient-list {
    display: grid;
    gap: 2.5rem 3rem;
    grid-template-columns: 1fr 1fr;
    list-style: none;
  }

  &__ingredient {
    display: flex;
  }

  &__icon {
    color: base.$color-primary;
    flex: 0 0 auto;
    height: 2rem;
    margin-right: 1.1rem;
    margin-top: 0.1rem;
    width: 2rem;
  }

  &__quantity {
    flex: 0 0 auto;
    margin-right: 0.5rem;
  }

  ///////////
  // DIRECTIONS
  &__directions {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem;
  }

  &__directions-text {
    color: base.$color-grey-dark-2;
    font-size: 1.7rem;
    margin-bottom: 3.5rem;
    text-align: center;
  }

  &__publisher {
    font-weight: 700;
  }
}
