@use 'base';

.search-results {
  display: flex;
  flex-direction: column;
  padding: 3rem 0;
}

.results {
  list-style: none;
  margin-bottom: 2rem;
}

.pagination {
  margin-top: auto;
  padding: 0 3.5rem;

  &::after {
    clear: both;
    content: '';
    display: table;
  }

  &__btn {
    &--prev {
      float: left;
    }

    &--next {
      float: right;
    }
  }
}

.copyright {
  color: base.$color-grey-dark-2;
  font-size: 1.2rem;
  margin-top: 4rem;
  padding: 0 3.5rem;

  .github-link:link,
  .github-link:visited {
    color: base.$color-grey-dark-2;
  }
}
