@use 'base';

%btn {
  align-items: center;
  background-image: base.$gradient;
  border: none;
  border-radius: 10rem;
  color: #fff;
  cursor: pointer;
  display: flex;
  text-transform: uppercase;
  transition: all 0.2s;

  &:hover {
    transform: scale(1.05);
  }

  &:focus {
    outline: none;
  }

  & > *:first-child {
    margin-right: 1rem;
  }
}

.btn {
  @extend %btn;

  font-size: 1.5rem;
  font-weight: 600;
  padding: 1.5rem 4rem;

  i {
    color: currentColor;
    height: 2.25rem;
    width: 2.25rem;
  }
}

.btn--small {
  &,
  &:link,
  &:visited {
    @extend %btn;

    font-size: 1.4rem;
    font-weight: 600;
    padding: 1.25rem 2.25rem;
    text-decoration: none;

    i {
      color: currentColor;
      height: 1.75rem;
      width: 1.75rem;
    }
  }
}

.btn--inline {
  align-items: center;
  background-color: base.$color-grey-light-1;
  border: none;
  border-radius: 10rem;
  color: base.$color-primary;
  cursor: pointer;
  display: flex;
  font-size: 1.3rem;
  font-weight: 600;
  padding: 0.8rem 1.2rem;
  transition: all 0.2s;

  i {
    color: currentColor;
    height: 1.6rem;
    margin: 0 0.2rem;
    width: 1.6rem;
  }

  span {
    margin: 0 0.4rem;
  }

  &:hover {
    background-color: base.$color-grey-light-2;
    color: base.$color-grad-2;
  }

  &:focus {
    outline: none;
  }
}

.btn--round {
  align-items: center;
  background-image: base.$gradient;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  height: 4.5rem;
  justify-content: center;
  transition: all 0.2s;
  width: 4.5rem;

  &:hover {
    transform: scale(1.07);
  }

  &:focus {
    outline: none;
  }

  i {
    color: #fff;
    font-size: 2.5rem;
  }
}

.btn--tiny {
  background: none;
  border: none;
  cursor: pointer;

  i {
    color: base.$color-primary;
    height: 100%;
    transition: all 0.3s;
    width: 100%;
  }

  &:focus {
    outline: none;
  }

  &:hover i {
    color: base.$color-grad-2;
    transform: translateY(-1px);
  }

  &:active i {
    color: base.$color-grad-2;
    transform: translateY(0);
  }

  &:not(:last-child) {
    margin-right: 0.3rem;
  }
}

.heading--2 {
  color: base.$color-primary;
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 2.5rem;
  text-align: center;
  text-transform: uppercase;
}

.link:link,
.link:visited {
  color: base.$color-grey-dark-2;
}

.spinner {
  margin: 5rem auto;
  text-align: center;

  i {
    animation: rotate 2s infinite linear;
    color: base.$color-primary;
    font-size: 6rem;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

.message,
.error {
  display: flex;
  margin: 0 auto;
  max-width: 40rem;
  padding: 5rem 4rem;

  i {
    color: base.$color-primary;
    height: 3rem;
    transform: translateY(-0.3rem);
    width: 3rem;
  }

  p {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.5;
    margin-left: 1.5rem;
  }
}
