@use 'base';

.header {
  align-items: center;
  background-color: base.$color-grey-light-1;
  display: flex;
  grid-area: head;
  justify-content: space-between;

  &__logo {
    display: block;
    height: 4.6rem;
    margin-left: 4rem;
  }
}

.search {
  align-items: center;
  background-color: #fff;
  border-radius: 10rem;
  display: flex;
  padding-left: 3rem;
  transition: all 0.3s;

  &:focus-within {
    box-shadow: 0 0.7rem 3rem rgba(base.$color-grey-dark-1, 0.08);
    transform: translateY(-2px);
  }

  &__field {
    background: none;
    border: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.7rem;
    width: 30rem;

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: base.$color-grey-light-3;
    }

    @media only screen and (max-width: base.$bp-medium) {
      width: auto;

      &::placeholder {
        color: white;
      }
    }
  }

  &__btn {
    font-family: inherit;
    font-weight: 600;
  }
}

.nav {
  align-self: stretch;
  margin-right: 2.5rem;

  &__list {
    display: flex;
    height: 100%;
    list-style: none;
  }

  &__item {
    position: relative;
  }

  &__btn {
    align-items: center;
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    display: flex;
    font-family: inherit;
    font-size: 1.4rem;
    font-weight: 700;
    height: 100%;
    padding: 0 1.5rem;
    text-transform: uppercase;
    transition: all 0.3s;

    svg {
      fill: base.$color-primary;
      height: 2.4rem;
      margin-right: 0.7rem;
      transform: translateY(-1px);
      width: 2.4rem;
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-color: base.$color-grey-light-2;
    }
  }
}

.bookmarks {
  background-color: #fff;
  box-shadow: 0 0.8rem 5rem 2rem rgba(base.$color-grey-dark-1, 0.1);
  opacity: 0;
  padding: 1rem 0;
  position: absolute;
  right: -2.5rem;
  transition: all 0.5s 0.2s;
  visibility: hidden;
  width: 40rem;
  z-index: 10;

  &__list {
    list-style: none;
  }

  &__field {
    align-items: center;
    cursor: pointer;
    display: flex;
    height: 100%;
    padding: 0 4rem;
    transition: all 0.3s;

    &:hover {
      background-color: base.$color-grey-light-2;
    }
  }

  &:hover,
  .nav__btn--bookmarks:hover + & {
    opacity: 1;
    visibility: visible;
  }
}
