@use 'base';
@use 'sass:color';

.preview {
  &__link {
    &:link,
    &:visited {
      align-items: center;
      border-right: 1px solid #fff;
      display: flex;
      padding: 1.5rem 3.25rem;
      text-decoration: none;
      transition: all 0.3s;
    }

    &:hover {
      background-color: base.$color-grey-light-1;
      transform: translateY(-2px);
    }

    &--active {
      background-color: base.$color-grey-light-1;
    }
  }

  &__fig {
    backface-visibility: hidden;
    border-radius: 50%;
    flex: 0 0 5.8rem;
    height: 5.8rem;
    margin-right: 2rem;
    overflow: hidden;
    position: relative;

    &::before {
      background-image: linear-gradient(
        to right bottom,
        base.$color-grad-1,
        base.$color-grad-2
      );
      content: '';
      display: block;
      height: 100%;
      left: 0;
      opacity: 0.4;
      position: absolute;
      top: 0;
      width: 100%;
    }

    img {
      display: block;
      height: 100%;
      object-fit: cover;
      transition: all 0.3s;
      width: 100%;
    }
  }

  &__data {
    align-items: center;
    display: grid;
    grid-template-columns: 1fr 2rem;
    row-gap: 0.1rem;
    width: 100%;
  }

  &__title {
    color: base.$color-primary;
    font-size: 1.45rem;
    font-weight: 600;
    grid-column: 1/-1;
    max-width: 25rem;

    // This is how text is truncated!
    overflow: hidden;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;
  }

  &__publisher {
    color: base.$color-grey-dark-2;
    font-size: 1.15rem;
    font-weight: 600;
    text-transform: uppercase;
  }

  &__user-generated {
    align-items: center;
    background-color: color.adjust(base.$color-grey-light-2, $lightness: -2%);
    border-radius: 10rem;
    display: flex;
    height: 2rem;
    justify-content: center;
    margin-left: auto;
    margin-right: 1.75rem;
    width: 2rem;

    i {
      color: base.$color-primary;
      font-size: 1.2rem;
    }
  }
}
