@use 'base';

.add-recipe-window {
  background-color: white;
  border-radius: 9px;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  left: 50%;
  padding: 5rem 6rem;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.5s;
  width: 100rem;
  z-index: 1000;

  .btn--close-modal {
    background: none;
    border: none;
    color: inherit;
    cursor: pointer;
    font-family: inherit;
    font-size: 3.5rem;
    position: absolute;
    right: 1.6rem;
    top: 0.5rem;
  }
}

.overlay {
  backdrop-filter: blur(4px);
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  transition: all 0.5s;
  width: 100%;
  z-index: 100;
}

.hidden {
  opacity: 0;
  visibility: hidden;
}

.upload {
  display: grid;
  gap: 4rem 6rem;
  grid-template-columns: 1fr 1fr;

  &__column {
    align-items: center;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: 1fr 2.8fr;

    & label {
      color: inherit;
      font-size: 1.5rem;
      font-weight: 600;
    }

    & input {
      border: 1px solid #ddd;
      border-radius: 0.5rem;
      font-size: 1.5rem;
      padding: 0.8rem 1rem;
      transition: all 0.2s;

      &::placeholder {
        color: base.$color-grey-light-3;
      }

      &:focus {
        background-color: base.$color-grey-light-1;
        border: 1px solid base.$color-primary;
        outline: none;
      }
    }

    & button {
      grid-column: 1 / span 2;
      justify-self: center;
      margin-top: 1rem;
    }
  }

  &__heading {
    font-size: 2.25rem;
    font-weight: 700;
    grid-column: 1/-1;
    margin-bottom: 1rem;
    text-transform: uppercase;
  }

  &__btn {
    grid-column: 1 / -1;
    justify-self: center;
  }
}
