/**************************/
/* HERO SECTION */
/**************************/

.section-hero {
  background-color: var(--color-tint-1);
  padding: 4.8rem 0 9.6rem 0;
}

.hero {
  align-items: center;
  display: grid;
  gap: 9.6rem;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  max-width: 130rem;
  padding: 0 3.2rem;
}

.hero-description {
  font-size: 2rem;
  line-height: var(--line-height-paragraph-default);
  margin-bottom: 4.8rem;
}

.hero-img {
  width: 100%;
}

.delivered-meals {
  align-items: center;
  display: flex;
  gap: 1.6rem;
  margin-top: 8rem;
}

.delivered-imgs {
  display: flex;
}

.delivered-imgs img {
  border: 3px solid var(--color-tint-1);
  border-radius: var(--border-radius-round);
  height: 4.8rem;
  margin-right: -1.6rem;
  width: 4.8rem;
}

.delivered-imgs img:last-child {
  margin: 0;
}

.delivered-text {
  font-size: 1.8rem;
  font-weight: var(--font-weight-semibold);
}

.delivered-text span {
  color: var(--color-shade-1);
  font-weight: var(--font-weight-bold);
}
