/**************************/
/* MEALS SECTION */
/**************************/

.section-meals {
  padding: 9.6rem 0;
}

.meal {
  border-radius: var(--border-radius-medium);
  box-shadow: 0 2.4rem 4.8rem rgba(0, 0, 0, 0.075);
  overflow: hidden;
  transition: all 0.4s;
}

.meal:hover {
  box-shadow: 0 3.2rem 6.4rem rgba(0, 0, 0, 0.06);
  transform: translateY(-1.2rem);
}

.meal-content {
  padding: 3.2rem 4.8rem 4.8rem 4.8rem;
}

.meal-tags {
  display: flex;
  gap: 0.4rem;
  margin-bottom: 1.2rem;
}

.tag {
  border-radius: var(--border-radius-round);
  color: var(--color-grey-3);
  display: inline-block;
  font-size: 1.2rem;
  font-weight: var(--font-weight-semibold);
  padding: 0.4rem 0.8rem;
  text-transform: uppercase;
}

.tag--vegetarian {
  background-color: var(--color-accent-1);
}
.tag--vegan {
  background-color: var(--color-accent-2);
}
.tag--paleo {
  background-color: var(--color-accent-3);
}

.meal-title {
  color: var(--color-grey-3);
  font-size: 2.4rem;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 3.2rem;
}

.meal-attributes {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  list-style: none;
}

.meal-attribute {
  align-items: center;
  display: flex;
  font-size: 1.8rem;
  gap: 1.6rem;
}

.meal-icon {
  color: var(--color-primary);
  height: 2.4rem;
  width: 2.4rem;
}

.meal-img {
  width: 100%;
}

.all-recipes {
  font-size: 1.8rem;
  text-align: center;
}
