/**************************/
/* PRICING SECTION */
/**************************/

.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: var(--border-radius-medium);
  width: 75%;
}

.pricing-plan--starter {
  border: 2px solid var(--color-tint-1);
  justify-self: end;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: var(--color-tint-1);
  overflow: hidden;
  padding: 4.8rem;
  position: relative;
}

.pricing-plan--complete::after {
  background-color: var(--color-accent-3);
  color: var(--color-grey-3);
  content: 'Best value';
  font-size: 1.4rem;
  font-weight: var(--font-weight-bold);
  padding: 0.8rem 8rem;
  position: absolute;
  right: -18%;
  text-transform: uppercase;
  top: 6%;
  transform: rotate(45deg);
}

.plan-header {
  margin-bottom: 4.8rem;
  text-align: center;
}

.plan-name {
  color: var(--color-shade-1);
  font-size: 2rem;
  font-weight: var(--font-weight-semibold);
  letter-spacing: var(--letter-spacing-medium);
  margin-bottom: 3.2rem;
  text-transform: uppercase;
}

.plan-price {
  color: var(--color-grey-3);
  font-size: 6.2rem;
  font-weight: var(--font-weight-semibold);
  margin-bottom: 1.6rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: var(--font-weight-medium);
  margin-right: 0.8rem;
}

.plan-text {
  color: var(--color-grey-6);
  font-size: 1.6rem;
  line-height: var(--line-height-paragraph-default);
}

.plan-sing-up {
  margin-top: 4.8rem;
  text-align: center;
}

.plan-details {
  font-size: 1.6rem;
  line-height: var(--line-height-paragraph-default);
  text-align: center;
}

.feature-icon {
  background-color: var(--color-tint-1);
  border-radius: var(--border-radius-round);
  color: var(--color-primary);
  height: 3.2rem;
  margin-bottom: 3.2rem;
  padding: 1.6rem;
  width: 3.2rem;
}

.feature-title {
  color: var(--color-grey-3);
  font-size: 2.4rem;
  font-weight: var(--font-weight-bold);
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: var(--line-height-large);
}
