/**************************/
/* HEADER */
/**************************/

.header {
  align-items: center;
  background-color: var(--color-tint-1);
  display: flex;
  height: 9.6rem;
  justify-content: space-between;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 2.2rem;
}
