:root {
  /**************************/
  /* TYPOGRAPHY SYSTEM */
  /**************************/
  /* Font weights */
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;

  /* Line heights */
  --line-height-normal: 1;
  --line-height-small: 1.05;
  --line-height-medium: 1.2;
  --line-height-paragraph-default: 1.6;
  --line-height-large: 1.8;

  /* Letter spacing */
  --letter-spacing-small: -0.5px;
  --letter-spacing-medium: 0.75px;

  /**************************/
  /* COLORS SYSTEM */
  /**************************/
  /* Primary */
  --color-primary: #e67e22;

  /* Accent */
  --color-accent-1: #51cf66;
  --color-accent-2: #94d82d;
  --color-accent-3: #ffd43b;

  /* Tints */
  --color-tint-1: #fdf2e9;
  --color-tint-2: #fae5d3;
  --color-tint-3: #eb984e;

  /* Shades */
  --color-shade-1: #cf711f;
  --color-shade-2: #45260a;

  /* Greys */
  --color-grey-8: #888;
  --color-grey-7: #767676;
  --color-grey-6: #6f6f6f;
  --color-grey-5: #555;
  --color-grey-3: #333;
  --color-grey-2: #aaa;
  --color-grey-1: #ddd;
  --color-grey-0: #fff;

  /**************************/
  /* BORDER-RADIUS */
  /**************************/
  --border-radius-normal: 9px;
  --border-radius-medium: 11px;
  --border-radius-round: 1000px;
}
